{% extends "base.html" %}

{% block active_dashboard %}class="active"{% endblock %}

{% block content %}
<table border="1">
    <tr>
        <th>CRN</th>
        <th>Class Name</th>
        <th>Max Seats</th>
        <th>Actived Seats</th>
        <th>Remain Seats</th>
        <th>Class Term</th>
        <th>Class Code</th>
        <th>Section Number</th>
        <th>Popularity</th>
        <th>Remove</th>
    </tr>
    {% for sec in sections %}
    <tr>
        <td>{{ sec.crn }}</td>
        <td>{{ sec.name }}</td>
        <td>{{ sec.max_seats_num }}</td>
        <td>{{ sec.current_seats_num }}</td>
        <td>{{ sec.remain_seats_num }}</td>
        <td>{{ sec.get_term }}</td>
        <td>{{ sec.code }}</td>
        <td>{{ sec.number }}</td>
        <td>{{ sec.myuser_set.count }}</td>
        <td>
            <form action="{% url 'user_mode_remove_crn' %}" method="POST">
                {% csrf_token %}
                CRN: <input type="text" name="crn"><br>
                <input type="submit" value="Remove">
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
<br><br><br>
<p>Once there are seats released, server will send a notify email to <b>{{ request.user.email }}</b> instantly!</p> 
<form name="addsec" action="." method="POST">{% csrf_token %}
    <div>{{ error }}</div>
    Add CRN: <input type="text" name="crn" placeholder="Section CRN"><br>
    Term: <input type="text" name="term" value="Fall 2013"><br>
    <input type="submit" value="Submit">
</form>
{% endblock %}
