{% extends "dashboard_base.html" %}

{% block active_sub %}active{% endblock %}
{% block tab_title %}Subscribed Sections{% endblock %}
{% block main_table %}
<table class="table table-hover">
    <tr>
        <th>CRN</th>
        <th>Class Name</th>
        <th>Max Seats</th>
        <th>Actived Seats</th>
        <th>Remain Seats</th>
        <th>Class Term</th>
        <th>Class Code</th>
        <th>Section Number</th>
        <th>Popularity</th>
        <th>Remove</th>
    </tr>
    {% for sec in sections %}
    <tr>
        <td>{{ sec.crn }}</td>
        <td>{{ sec.name }}</td>
        <td>{{ sec.max_seats_num }}</td>
        <td>{{ sec.current_seats_num }}</td>
        <td class="important">{{ sec.remain_seats_num }}</td>
        <td>{{ sec.get_term }}</td>
        <td>{{ sec.code }}</td>
        <td>{{ sec.number }}</td>
        <td>{{ sec.myuser_set.count }}</td>
        <td>
            <form id="remove_crn" action="{% url 'user_mode_remove_crn' %}" method="POST" style="margin:0">
                {% csrf_token %}
                <input type="hidden" name="crn" value="{{ sec.crn }}">
                <input type="hidden" name="term" value="{{ sec.term }}">
                <input class="btn" type="submit" value="Remove">
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
{% block form %}
<form id="add_sec" class="form-inline add-btn" name="addsec" action="." method="POST">{% csrf_token %}
    <div>{{ error }}</div>
    <label>Add CRN:</label><input class="input-small" type="text" name="crn" placeholder="Section CRN">
    <label>Term: </label><input class="input-small" type="text" name="term" value="Fall 2013">
    <input class="btn" type="submit" value="Add Section">
</form>
{% endblock %}

{% block alert %}
<div class="alert alert-info">Once there are seats released, server will send a notify email to <b>{{ request.user.email }}</b> instantly!</div> 
{% endblock %}
