{% extends "base.html" %}

{% block content %}
<div class="unit">
    <legend><h1>Log in</h1></legend>
    <form class="form-horizontal" name="register" action="." method="POST">{% csrf_token %}
        {% if error %}
            <div class="alert alert-error">{{ error }}</div>
        {% endif %}
        <div class="control-group">
            <label class="control-label" for="inputUsername">
                User Name: 
            </label>
            <div class="controls">
                <input id="inputUsername" type="text" name="username">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputPassword">
                Password:
            </label>
            <div class="controls">
                <input id="inputPassword" type="password" name="password">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input class='btn' type="submit" value="Login">
            </div>
        </div>
    </form>
    <form action={% url 'user_mode_register' %} method="GET">
        <input class="btn" type="submit" value="Register">
    </form>
</div>
{% endblock %}
