{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
    <link href="{% static "css/used_book.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="unit">
    <legend><h1 class="pull-center">
            二手书市场
    </h1></legend>
    <table class="table table-hover">
        <tr>
            <th>书名</th>
            <th>出版社</th>
            <th>课程</th>
            <th>价格</th>
            <th>来自（学号）</th>
            <th>电话（联系方式）</th>
            <th>Action</th>
        </tr>
        {% for book in books %}
        <tr>
            <td>{{ book.name }}</td>
            <td>{{ book.publisher }}</td>
            <td>{{ book.course }}</td>
            <td>{{ book.price }}</td>
            <td>{{ book.seller_id }}</td>
            <td>{{ book.seller_contact }}</td>
            <td>
                <form id="remove_book" action="{% url 'used_book_view' %}" method="POST" style="margin:0">
                    {% csrf_token %}
                    <input type="hidden" name="pk" value="{{ book.pk }}">
                    <input class="btn" type="submit" value="删除">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <div class='pull-center'>
        <a class='btn' href="{% url 'used_book_post' %}">发布新信息</a>
    </div>
</div>
{% endblock %}
