{% extends "base.html" %}

{% block content %}
<div class="unit">
    <legend><h1>发布新信息</h1></legend>
    <form class="form-horizontal" name="used_book_post" action="." method="POST">{% csrf_token %}
        {% if error %}
            <div class="alert alert-error">{{ error }}</div>
        {% endif %}
        <div class="control-group">
            <label class="control-label" for="inputBookName">
                书名:
            </label>
            <div class="controls">
                <input id="inputBookName" type="text" name="name">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputPublisher">
                出版社：
            </label>
            <div class="controls">
                <input id="inputPublisher" type="text" name="publisher">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputCourse">
                课程：
            </label>
            <div class="controls">
                <input id="inputCourse" type="text" name="course">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputPrice">
                价格：
            </label>
            <div class="controls">
                <input id="inputPrice" type="text" name="price">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputSellerId">
                来自（学号）：
            </label>
            <div class="controls">
                <input id="inputSellerId" type="text" name="seller_id">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputSellerContact">
                电话（联系方式）：
            </label>
            <div class="controls">
                <input id="inputSellerContact" type="text" name="seller_contact">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input class='btn' type="submit" value="发布">
                <a style='margin-left:10px' class='btn' href="{% url 'used_book_view' %}">返回查看列表</a>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
